h2{
  background:#ec2127;
  text-align: center;
  color: #fff;
  padding: 1%;
  font-weight: bold;
}

h3 {
  color: #808080;
}

h4 {
  color: #808080;
}

.alignCenter{
  text-align: center;
  padding:0;
}
.imglogo{
  position: relative;
  height: 100%;
  right: 250px;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
}
.navbar {
  position: relative;
}
.brand {
  position: absolute;
  left: 65%;
  display: block;
}
.container {
  position: relative;
  text-align: center;
  color: white;
  padding: 1%;
}
.vertical-menu {
width: 100%; /* Set a width if you like */
}

.vertical-menu a {
  background-color: #ec2127; /* Grey background color */
  color: #fff; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 5px; /* Add some padding */
  margin-top: 10px;
  text-decoration: none; /* Remove underline from links */
  font-weight: bold;
  text-align: center;
}

.article{
  margin: 2%;
}


.vertical-menu a:hover {
  background-color: #b3151a; /* Dark grey background on mouse-over */
}
.vertical-menu a.active {
  background-color: #fff; /* Add a green color to the "active/current" link */
  color: black;
}

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-lg.round {
	border-radius: 15px;
}
.btn-success {
    background: #24831B;
    color: #ffffff;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success {
    background: #2c9d22;
}

.btn-success:active, .btn-success.active {
    background: #165210;
    box-shadow: none;
}

.formato {
  background:#ec2127;
  border-radius: 5px;
  font-size:1.5em;
  display:block;
  width:40%;
  padding:2%;
  margin-top:1%;
}


@media screen and (max-width:480px) {
  .imglogo{right: 240px;}
  .centered{font-size: 1.2em;}
}

@media screen and (max-width: 768px) {
  .imglogo{right: 120px;}
  .centered{font-size: 1.2em;}
}
